.sidebar{
    position: fixed;
    min-width: 40vh;
    line-height: 3rem;
    top:10vh;
    height: 100vh;
    /* overflow-x: hidden; */
    /* overflow-y: scroll; */
    /* scroll-behavior: smooth; */
    padding-bottom: 6rem;
    background-color: var(--bg-color-1);
}
.sidebar-items {
    color: var(--primary-color);
    padding: 8px 20px 8px 7px;
    cursor: pointer;
}

.sidebar-items:hover {
    background-color: var(--primary-color);
    color: var(--text-color-1);
    border-left: 4px solid var(--secondary-color);
    border-radius: 2px;
}